.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
}
.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.heroes .text {
    position: relative;
    top: -3px;
}
.heroes .delete {
    display: inline-block;
    background-color: red;
    color: white;
    float: right;
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
}
.heroes .badge {
    color: white;
    float: left;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    margin-right: 10px;
    background-color: darkcyan;
    line-height: inherit;
}